<header>
    Is Today EDC?
</header>


<section>
    <% if @zoo %>
        <div id="answer">
            Yes!!
        </div>
        </section>
        <section>
            <%= image_tag("happykratos.jpg", width: "700", height: "391", alt: "Happy Rage Man") %>
        </section>
    <% else %>
        <div id="answer">
            No 
        </div>      
        </section>
        <section>
            <%= image_tag("sadfrog.jpg", width: "300", height: "300", alt: "Sad Face Frog") %>
        </section>
</section>
    <% end %>






<script>

    document.getElementById("answer").style.fontFamily = "<%= @font %>";
    document.getElementById("answer").style.fontWeight = <%= @fweight %>;
    document.getElementById("answer").style.fontStyle = "<%= @italic %>";

    document.getElementById("answer").style.textDecoration = "<%= @textd %>";
    document.getElementById("answer").style.textDecorationColor = "#<%= @textdcolor %>";
    document.getElementById("answer").style.textDecorationStyle = "<%= @textdstyle %>";

    document.getElementById("answer").style.color = "#<%= @color %>";
    document.getElementById("answer").style.backgroundColor = "#<%= @bgcolor %>";

    document.getElementById("answer").style.borderTopLeftRadius = "<%= @bordertl %>px";
    document.getElementById("answer").style.borderTopRightRadius = "<%= @bordertr %>px";
    document.getElementById("answer").style.borderBottomLeftRadius = "<%= @borderbl %>px";
    document.getElementById("answer").style.borderBottomRightRadius = "<%= @borderbr %>px";

    document.getElementById("answer").style.borderTopColor = "#<%= @bordercolort %>";
    document.getElementById("answer").style.borderRightColor = "#<%= @bordercolorr %>";
    document.getElementById("answer").style.borderBottomColor = "#<%= @bordercolorb %>";
    document.getElementById("answer").style.borderLeftColor = "#<%= @bordercolorl %>";

    document.getElementById("answer").style.borderTopWidth = "<%= @borderwidtht %>px";
    document.getElementById("answer").style.borderRightWidth = "<%= @borderwidthr %>px";
    document.getElementById("answer").style.borderBottomWidth = "<%= @borderwidthb %>px";
    document.getElementById("answer").style.borderLeftWidth = "<%= @borderwidthl %>px";

    document.getElementById("answer").style.borderTopStyle = "<%= @borderstylet %>";
    document.getElementById("answer").style.borderRightStyle = "<%= @borderstyler %>";
    document.getElementById("answer").style.borderBottomStyle = "<%= @borderstyleb %>";
    document.getElementById("answer").style.borderLeftStyle = "<%= @borderstylel %>";

    document.getElementById("answer").style.paddingTop = "<%= @paddingt %>px";
    document.getElementById("answer").style.paddingRight = "<%= @paddingr %>px";
    document.getElementById("answer").style.paddingBottom = "<%= @paddingb %>px";
    document.getElementById("answer").style.paddingLeft = "<%= @paddingl %>px";

</script>